:root.theme-light {
  --background-color: #fff1f7;
  --color-accent: #ff8dcb;
  --color-accent-translucent: #32312d66;
  --color-secondary: #ffc2e6;

  --color-title: var(--color-secondary);
  --color-section-title: var(--color-accent);
  --color-section-subtitle: var(--background-color);
  --color-tips-title: var(--background-color);
  --color-text: #000e2e;
  --color-text-caption: var(--background-color);
  --color-decorative-background: var(--color-accent);

  --shadow-title: 4px 4px 0 var(--color-accent);
  --shadow-link: 2px 1px 0 var(--color-accent);
}

.theme-light .header {
  background-image: url("../images/cover-image-light.png");
}

.theme-light .header__rec-decoration {
  display: none;
}