.page {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-inline: 10px;
  font-family: var(--text-family-main), sans-serif;
  font-size: var(--text-main-size);
  background-color: var(--background-color);
  color: var(--color-text);
}

.decorative-background {
  background-color: var(--color-decorative-background);
}

.text-link {
  text-shadow: var(--shadow-link);
  text-decoration: none;
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  margin-inline: -10px;
  padding-inline: 10px;
  block-size: 100vh;
  background-image: url("/images/cover-image-dark.png");
  background-position: center;
  background-size: cover;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::after,
.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border: 1px solid var(--color-accent);
}

.decorated-zone::after {
  inset-inline-end: 10px;
  inset-block-start: 20px;
  border-inline-start: none;
  border-block-end: none;
}

.decorated-zone::before {
  inset-inline-start: 10px;
  inset-block-end: 20px;
  border-inline-end: none;
  border-block-start: none;
}

.footer.decorated-zone:after {
  inset-inline-end: 0;
}

.footer.decorated-zone:before {
  inset-inline-start: 0;
}

.header__rec-decoration {
  position: absolute;
  inset-inline-end: 45px;
  inset-block-start: 24px;
  text-transform: uppercase;
  color: var(--color-accent);
}

.header__rec-decoration:after {
  content: "";
  position: absolute;
  inset: 7px 45px;
  display: inline-block;
  inline-size: 10px;
  block-size: 10px;
  border-radius: 50%;
  background-color: var(--color-accent);
  box-shadow: 0 0 6px 3px var(--color-accent);
}

.header__theme-menu {
  justify-self: end;
  margin-inline-end: 10px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.header__theme-menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 70px;
  block-size: 26px;
  padding: 2px 13px;
  background-color: transparent;
  border: none;
  color: var(--color-accent);
}

.header__theme-menu-button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.header__theme-menu-button_active {
  border: 1px solid var(--color-accent);
}

.header__title {
  font-size: var(--text-title-mobile);
  color: var(--color-title);
  text-shadow: var(--shadow-title);
}

.header__text-block {
  font-weight: var(--font-weight-bold);
  align-self: start;
  color: var(--color-text-caption);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.main__section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main__section-title {
  /*margin-block-end: 10px; !* margin в 10px + gap 10px для отступа заголовков в начале секций*!*/
  font-weight: var(--font-weight-bold);
  color: var(--color-section-title);
}

.main__section-subtitle {
  font-weight: var(--font-weight-bold);
  color: var(--color-section-subtitle);
}

.main__tips-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main__images-block {
  gap: 10px;
}

.main__tips-block-title {
  color: var(--color-tips-title);
}

.main__tips-title {
  font-weight: var(--font-weight-normal);
  color: var(--color-tips-title);
}

.main__images {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  inline-size: 100%;
  block-size: 100vh;
}

.footer__title {
  font-size: var(--text-title-mobile);
  color: var(--color-title);
  text-shadow: var(--shadow-title);
}